@model CounteryViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Edit Countrey</h1>
<hr />


        <form asp-action="Edit">

    <partial name="Pratialcountery/View" model="Model" />


        </form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
 
}

